*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

:root {

  --clr-primary-400: hsl(219,27%,20%);
  --clr-primary-500: hsl(215,25%,20%);
  --clr-primary-600: hsl(0,0%,97%);  
  --clr-primary-700: hsl(222,95%,64%); 
  
  --clr-neutral-400: hsl(0,0%,69%);
  --clr-neutral-500: hsl(326,93%,48%);

  --ff-primary: 'Noto Serif Georgian', serif;
  --ff-secondary: 'Raleway', san-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  font-family: var(--ff-primary);
}

/* layout */

.container {
  width: 95%;
  margin: 0 auto;
}

/* modifier */
.heading {
  text-align: center;
  font-size: 1.5rem;
  font-family: var(--ff-secondary);
  color: var(--clr-primary-500);
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: 800;
  line-height: .9;
}

@media only screen and (min-width: 62em) {
  .heading {
    font-size: 2.4rem;
  }
}

.btn-1 {
  display: inline-block;
  font-family: var(--ff-secondary);
  font-weight: 700;
  font-size: .8rem;
  text-transform: uppercase;
  margin-top: 1.5em;
  padding: 1.5em 2em;
  border-radius: 4px;
  transition: all .2s ease-in-out;
}

@media only screen and (min-width: 62em) {
  .btn-1 {
    padding: 1.5em 3em;
  }
}

.btn-2 {
  display: inline-block;
  font-family: var(--ff-secondary);
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: 800;
  letter-spacing: 1.2px;
  color: var(--clr-primary-500);
  padding: 1.2em 2.1em;
  border: 2px solid var(--clr-primary-400);
  border-radius: 3px;
  transition: all .2s ease-in-out;
}


header {
  padding: 1em 0;
  background-color: #fff;
  border-bottom: 1px solid var(--clr-neutral-400);
  position: sticky;
  top: 0;
  z-index: 100;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger-img {
  display: block;
  width: 2rem;
}

@media only screen and (min-width: 62em) {
  .hamburger {
    display: none;
  }
}

.logo-img {
  width: 6rem;
  display: block;
}

header nav {
  display: none;
}

@media only screen and (min-width: 62em) {
  header nav {
    display: block;
  }
  header nav:first-of-type {
    margin-right: auto;
    margin-left: 2em;
  }
  header nav:last-of-type {
    margin-right: 1em;
  }
  header nav ul {
    display: flex;
    gap: 1em;
  }
  header nav ul li i {
    margin-left: .3em;
  }
  header nav ul li a {
    color: var(--clr-primary-400);
    font-family: var(--ff-secondary);
    text-transform: uppercase;
    font-weight: 800;
    font-size: .8rem;
  }
  header nav ul li a:hover,
  header nav ul li a:focus {
    color: var(--clr-primary-700);
  }
}

.cart-quantity {
  font-family: var(--ff-secondary);
  font-weight: 600;
  color: #fff;
  background-color: var(--clr-primary-400);
  width: 2.1rem;
  height: 2.1em;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.cart-quantity:hover,
.cart-quantiy:focus {
  background-color: var(--clr-primary-700);
}

.hero {
  background-image: url('/img/goby-hero-mobile.jpg');
  background-size: cover;
  background-position: center;
  padding: 2.4em 0;
  height: 47rem;
  color: var(--clr-primary-500);  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (min-width: 62em) {
  .hero {
    background-image: url('/img/goby-hero-desktop.jpg');
    padding: 4.5em 0;
    height: 42rem;
  }
}

.hero-top {
  display: grid;
  place-items: center;
}

@media only screen and (min-width: 62em) {
  .hero-top {
    margin-top: 4em;
  }
}

.hero-cta {
  background-color: var(--clr-neutral-500);
  color: #fff;
}

.hero-cta:hover,
.hero-cta:focus {
  background-color: hsl(338, 86%, 36%);
}

.hero-btm {
  display: grid;
  place-content: center;
}

.ratings-mobile {
  display: grid;
  place-items: center;
  margin-bottom: 2em;
}

@media only screen and (min-width: 62em) {
  .ratings-mobile {
    display: none;
  }
}

.stars {
  margin-bottom: .9em;
}

.stars i {
  color: var(--clr-primary-700);
  font-size: 1.5rem;
}

.reviews-mobile {
  display: flex;
  text-transform: uppercase;
  font-family: var(--ff-secondary);
}

@media only screen and (min-width: 62em) {
  .reviews-mobile {
    display: none;
  }
}

.reviews-mobile div:nth-of-type(1) {
  text-align: right;
  padding-right: 1em;
  border-right: 1px solid var(--clr-neutral-400);
}

.reviews-mobile div:nth-of-type(2) {
  padding-left: 1em;
  border-left: 1px solid var(--clr-neutral-400);
}

.reviews-mobile .review p {
  font-weight: 700;
  font-size: .8rem;
  line-height: 1.7;
}

.reviews-mobile .review h3 {
  font-size: .925rem;
  font-weight: 800;
  margin-top: 1em;
}

.ratings-reviews-desktop {
  display: none;
}

@media only screen and (min-width:62em) {
  .ratings-reviews-desktop {
    display: flex;
    align-items: flex-end;
    gap: 1em;
  }
  .ratings-reviews-desktop .ratings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 18rem;
  }

  .ratings-reviews-desktop .review {
    width: 12rem;
  }

  .ratings-reviews-desktop .review p {
    font-size: .7rem;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--ff-secondary);
  }
  .ratings-reviews-desktop .review h3 {
    font-size: 1.2rem;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--ff-secondary);
    margin-top: .3em;
  }
}

.sub-hero {
  background-image: url('/img/sub-hero-mobile.jpg');
  background-size: cover;
  background-position: center;
  padding: 3em 0;
  height: 40rem;
}

@media only screen and (min-width: 62em) {
  .sub-hero {
    background-image: url('/img/sub-hero-desktop.jpg');
    height: 37rem;
    display: grid;
    place-content: center;
  }
}

.call-to-action {
  display: grid;
  place-items: center;
}

@media only screen and (min-width: 62em) {
  .call-to-action {
    margin-right: 25em;
  }
}

.sub-hero h2 {
  margin-bottom: .5em;
}

.sub-hero p {
  width: 50%;
  text-align: center;
  line-height: 1.6;
  color: var(--clr-primary-400);
}

@media only screen and (min-width: 62em) {
  .sub-hero p {
    width: unset;
  }
}

.sub-hero-cta {
  background-color: #fff;
  color: var(--clr-primary-500);
}

.sub-hero-cta:hover,
.sub-hero-cta:focus {
  color: #fff;
  background-color: var(--clr-primary-500);
}

.ada {
  background-color: #fff;
  padding: 2.7em 0;
  display: grid;
  place-items: center;
}

.ada-img {
  width: 5rem;
}

.ada p {
  text-align: center;
  line-height: 1.6;
  margin: 1.2em auto;
  width: 21rem;
  color: var(--clr-primary-500);
}

@media only screen and (min-width: 62em) {
  .ada p {
    width: 47%;
  }
}

.ada a:nth-of-type(1) {
  background-color: var(--clr-primary-600);
  height: 2rem;
  width: 2rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  font-size: .7rem;
  color: var(--clr-primary-500);
  margin-bottom: 1em;
}

.ada a:nth-of-type(2) {
  font-family: var(--ff-secondary);
  font-weight: 800;
  font-size: .8rem;
  letter-spacing: 1px;
  color: #000;
  text-transform: uppercase;
}

.max-clean {
  padding: 3em 0 0;
  background-color: var(--clr-primary-600);
}

@media only screen and (min-width: 62em) {
  .max-clean {
    padding: 0 0 4.5em;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(4, 30rem);
  }
}

.max-clean-cta {
  display: grid;
  place-items: center;
}

@media only screen and (min-width: 62em) {
  .max-clean-cta {
    grid-column: 3 / 4;
    display: grid;
    place-content: center;
    width: 30rem;
  }
}

.max-clean-cta .heading {
  line-height: 1.2;
}

.max-clean-cta p {
  text-align: center;
  line-height: 1.6;
  margin: 1.5em auto;
  width: 22rem;
  color: var(--clr-primary-500);
}

.max-clean-cta .btn-2 {
  background-color: #fff;
}

.max-clean-cta .btn-2:hover,
.max-clean-cta .btn-2:focus {
  background-color: var(--clr-primary-500);
  color: #fff;
}

.max-clean-promo {
  background-color: #fff;
  width: 90%;
  max-width: 57rem;
  margin: 2.4em auto 0;
  padding: 3em 0;
  display: grid;
  place-content: center;
  grid-auto-flow: row;
  row-gap: 2em;
}

@media only screen and (min-width: 62em) {
  .max-clean-promo {
    grid-auto-flow: column;
    justify-content: space-between;
    padding: 4em;
    grid-column: 1 / -1;
    margin-top: unset;
  }
}

.promo {
  display: flex;
  gap: 1.8em;
}

@media only screen and (min-width: 62em) {
  .promo {
    flex-direction: column;
  }
}

.promo img {
  width: 4rem;
  align-self: flex-start;
}

@media only screen and (min-width: 62em) {
  .promo img {
    width: 5rem;
    display: block;
    margin: 0 auto;
  }
}

.promo h2 {
  font-size: 1.5rem;
  font-weight: 800;
  font-family: var(--ff-secondary);
  color: var(--clr-primary-400);
  text-transform: uppercase;
}

@media only screen and (min-width: 62em) {
  .promo h2 {
    text-align: center;
  }
}

.promo p {
  color: var(--clr-primary-500);
  line-height: 1.5;
}

@media only screen and (min-width: 62em) {
  .promo p {
    text-align: center;
  }
}

.toothbrush-img-mobile {
  width: 18rem;
  display: block;
  margin: 0 auto;
}

@media only screen and (min-width: 62em) {
  .toothbrush-img-mobile {
    grid-column: 2 / 3;
    grid-row: 1;
    width: 30rem;
  }
}

.guarantee {
  background-color: #fff;
  text-align: center;
  padding: 3em 0;
  max-width: 70rem;
  margin: 0 auto;
  display: grid;
  gap: 1.5em;
}

@media only screen and (min-width: 62em) {
  .guarantee {
    grid-template-columns: repeat(8, 1fr);
    padding: 4.5em 0;
  }
}

.guarantee h2 {
  margin-bottom: .5em;
}

@media only screen and (min-width: 62em) {
  .guarantee h2 {
    grid-column: 1 / -1;
  }
}

.guarantee div {
  display: grid;
  place-items: center;
  width: 50%;
  margin: 0 auto;
}

@media only screen and (min-width: 62em) {
  .guarantee div {
    grid-column: span 2;
    width: unset;
  }
}

.guarantee img {
  width: 6rem;
  margin-bottom: 1em;
}

.guarantee h3 {
  font-size: .9rem;
  font-family: var(--ff-secondary);
  color: var(--clr-primary-400);
  text-transform: uppercase;
  margin-bottom: 1em;
}

.guarantee p {
  color: var(--clr-primary-400);
}

.reviews {
  background-color: var(--clr-primary-600);
  padding: 4em 0 0;
  position: relative;
}

@media only screen and (min-width: 62em) {
  .reviews {
    background-image: url('/img/goby-bg-left.png'), url('/img/goby-bg-right.png');
    background-position: left, right;
    background-size: 30rem, 30rem;
    background-repeat: no-repeat;
    padding-bottom: 9em;
  }
}

.reviews > div {
  padding: 0 .5em;
}

@media only screen and (min-width: 62em) {
  .reviews > div {
    max-width: 30rem;
    margin: 0 auto;
  }
}

.reviews p {
  text-align: center;
  margin-top: 2em;
}

.reviews h4 {
  font-family: var(--ff-secondary);
  font-size: .8rem;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--clr-primary-500);
  text-align: center;
  margin-top: 3em;
}

.reviewer {
  display: flex;
  justify-content: space-between;
  margin-top: 4em;
}

.reviewer a {
  font-size: .9rem;
  font-family: var(--ff-secondary);
  font-weight: 800;
  color: var(--clr-primary-400);
  text-transform: uppercase;
}

.customer,
.dentist {
  width: 50%;
  text-align: center;
  padding-bottom: 1em;
}

.customer {
  border-bottom: 3px solid cornflowerblue;
}

.dentist {
  border-bottom: 3px solid var(--clr-neutral-400);
}

.customers {
  margin-top: 4.5em;
  display: flex;
  justify-content: center;
  gap: 1.5em;
}

.customers a {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
}

.customers a:hover,
.customers a:focus {
  opacity: 75%;
}

.customers a:nth-of-type(1) {
  background: url('/img/goby-teeth-1.png');
  background-size: cover;
}

.customers a:nth-of-type(2) {
  background: url('/img/goby-teeth-2.png');
  background-size: cover;
}

.customers a:nth-of-type(3) {
  background: url('/img/goby-teeth-3.png');
  background-size: cover;
}

.reviews .btn-2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 3em;
  text-align: center;
}

.reviews .btn-2:hover,
.reviews .btn-2:focus {
  color: #fff;
  background-color: var(--clr-primary-400);
}

.teeth-bg-mobile {
  margin-top: 9em;
}

@media only screen and (min-width: 62em) {
  .teeth-bg-mobile {
    display: none;
  }
}

.social-proof {
  background-color: #fff;
  padding: 3em 0;
}

.companies {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
}

@media only screen and (min-width: 62em) {
  .companies {
    flex-direction: row;
  }
}

.companies img {
  width: 12rem;
  display: block;
  filter: invert(92%) sepia(0%) saturate(1%) hue-rotate(135deg) brightness(88%) contrast(104%);
}

.selected {
  filter: unset !important;
  border-bottom: 3px solid #000;
}

.company-review {
  text-align: center;
  max-width: 21rem;
  margin: 4.5em auto 0;
}

.company-review h6 {
  font-size: .725rem;
  font-family: var(--ff-secondary);
  text-transform: uppercase;
  margin-bottom: 1em;
}

.dots {
  display: flex;
  justify-content: center;
  margin-top: 3em;
  gap: 1em;
}

.dot {
  background-color: #D3D3D3;
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  cursor: pointer;
}

.dot:hover,
.dot:focus {
  background-color: #000;
}

.current {
  background-color: #000;
}

.treat-your {
  padding: 4.5em 0;
  background-color:var(--clr-primary-700);
  text-align: center;
}

@media only screen and (min-width: 62em) {
  .treat-your {
    padding: 6em 0;
  }
}

.treat-your .heading {
  color: #fff;
  line-height: 1.3;
  max-width: 30rem;
  margin: 0 auto;
  font-size: 1.3rem;
}

.treat-your .btn-1 {
  background-color: #fff;
  color: var(--clr-primary-400);
  margin-top: 3em;
}

.treat-your .btn-1:hover,
.treat-your .btn-1:focus {
  background-color: var(--clr-primary-400);
  color: #fff;
}

footer {
  background-color: #fff;
  padding: 3em 0 6em;
  font-family: var(--ff-secondary);
}

footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 70rem;
}

@media only screen and (min-width: 62em) {
  footer .container {
    grid-template-columns: repeat(9, 1fr);
  }
}

.footer-logo {
  display: none;
}

@media only screen and (min-width: 62em) {
  .footer-logo {
    display: block;
    grid-column: 1 / 2;
  }
}

.list-1 {
  grid-column: 1 / 2;
}

.list-2 {
  grid-column: 2 / -1;
  justify-self: center;
}

.list-3 {
  margin-top: 1em;
  grid-column: 1 / 2;
}

form {
  grid-column: 1 / -1;
  margin-top: 3em;
}

.social-copy {
  grid-column: 1 / -1;
}

@media only screen and (min-width: 62em) {
  .list-1 {
    grid-column: 2 / 4;
  }
  .list-2 {
    grid-column: 4 / 5;
  }
  .list-3 {
    grid-column: 5 / 6;
    margin-top: unset;
    justify-self: end;
    margin-left: 3em;
  }
  form {
    grid-column: 7 / -1;
    margin-top: unset;
  }
  .social-copy {
    grid-column: 2 / -1;
  }
}

footer ul li {
  margin-top: .3em;
}

footer ul li:first-of-type {
  margin: unset;
}

footer ul li:first-of-type a {
  font-weight: 800;
}

footer ul li a {
  color: var(--clr-primary-500);
  text-transform: uppercase;
  font-size: .9rem;
}

footer ul li a:hover,
footer ul li a:focus {
  text-decoration: underline;
}

form label {
  font-size: 1.3rem;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--clr-primary-500);
}

form input {
  display: block;
  width: 100%;
  margin-top: 1em;
  padding: 1.2em;
}

form input:focus {
  outline: none;
}

form input::placeholder {
  text-transform: uppercase;
  font-weight: 700;
}

.social-copy {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 62em) {
  .social-copy {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.social p,
.copy p {
  font-size: .7rem;
  font-weight: 700;
  color: var(--clr-neutral-400);
  text-transform: uppercase;
}

.social {
  display: flex;
  align-items: center;
  gap: 1em;
}

.icon {
  width: 3.2rem;
  height: 3.2rem;
  border: 1px solid var(--clr-neutral-400);
  display: grid;
  place-items: center;
  border-radius: 50%;
  color: var(--clr-neutral-400);
}

.icon i {
  font-size: 1.4rem;
}

.copy {
  margin-top: 1.5em;
}